In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("StarterCode/assets/data/data.csv")

In [3]:
df.head()

,id,state,abbr,poverty,povertyMoe,age,ageMoe,income,incomeMoe,noHealthInsurance,obesity,smokes
0,1,Alabama,AL,19.3,0.5,38.6,0.2,42830,598,13.9,33.5,21.1
1,2,Alaska,AK,11.2,0.9,33.3,0.3,71583,1784,15.0,29.7,19.9
2,4,Arizona,AZ,18.2,0.4,36.9,0.1,50068,483,14.4,28.9,16.5
3,5,Arkansas,AR,18.9,0.5,37.8,0.2,41262,653,16.3,35.9,24.7
4,6,California,CA,16.4,0.2,36.0,0.1,61933,238,14.8,24.7,12.9

In [4]:
df = df[["state", "poverty"]]
# df.sort_values(by='age', ascending=False)
df = df.set_index(["state"])
df.sort_values(by="poverty", ascending = True)

                 poverty
state
New Hampshire        9.2
Maryland            10.1
Connecticut         10.8
New Jersey          11.1
Wyoming             11.2
Alaska              11.2
Hawaii              11.4
North Dakota        11.5
Minnesota           11.5
Massachusetts       11.6
Utah                11.7
Virginia            11.8
Colorado            12.0
Iowa                12.2
Vermont             12.2
Nebraska            12.4
Delaware            12.5
Wisconsin           13.2
Washington          13.2
Kansas              13.6
Pennsylvania        13.6
Maine               14.1
South Dakota        14.2
Rhode Island        14.3
Illinois            14.4
Idaho               14.8
Indiana             15.2
Nevada              15.2
Montana             15.4
Missouri            15.5
Ohio                15.8
New York            15.9
Michigan            16.2
California          16.4
Florida             16.5
Oklahoma            16.6
Oregon              16.6
North Carolina      17.2
Texas               17.2
Washington D.C.     17.7
South Carolina      18.0
Arizona             18.2
Georgia             18.3
Tennessee           18.3
West Virginia       18.3
Arkansas            18.9
Kentucky            19.1
Alabama             19.3
Louisiana           19.8
New Mexico          21.3
Mississippi         21.5